RetroboyJam/ProjectSettings/GraphicsSettings.asset
RetroboyJam/ProjectSettings/ProjectVersion.txt
fmod.log
fmod_editor.log
RetroboyJam/fmod_editor.log
RetroboyJam/fmod_editor.log
RetroboyJam/Assets/FMODStudioCache.asset
RetroboyJam/FMOD/retroboy-jam-audiosession/Metadata/Event/{7c500686-59af-46b6-9993-4157030ab50a}.xml
RetroboyJam/FMOD/retroboy-jam-audiosession/.cache/*
